body {
  background: linear-gradient(135deg, black, purple);
  color: white;
  text-align: center;
  font-family: cursive;
  padding: 20px;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: pink;
  margin: 10px;
  cursor: pointer;
}

.gallery img {
  width: 90%;
  max-width: 300px;
  margin: 10px;
  border-radius: 15px;
}

.typewriter {
  font-size: 20px;
  margin-top: 30px;
}
